@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Science+Gothic:wght@100..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Science+Gothic:wght@100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    Scrollbar-width: none;
}

a:hover {
    display: inline-block;
    animation: pulsar1 3s infinite;
}

.section-inicial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo-header {
    color: #F5FAFF;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.conteudo-header-left {
    color: #F5FAFF;
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 925px;
    font-style: italic;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.slr-header {
    align-self: flex-start;
    font-size: 40px;
}

.dev-header {
    align-self: flex-end;
    font-size: 20px;
}

.conteudo-header-right {
    font-style: italic;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.anchor-header {
    color: #F5FAFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    color: #F5FAFF;
    font-size: 24px;
    border-top: 3px solid #F5FAFF;
    padding-top: 120px;
}

.avatar img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    animation: pulsar2 4s infinite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 130, 255, 0.5);
}

.conteudo-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 48px;
}

h1 {
    color: #2aaaff;
    font-size: 48px;
}

.conteudo-bot a {
    background-color: #0082ff;
    color: #F5FAFF;
    font-size: 24px;
    border-radius: 16px;
    justify-content: center;
    padding: 12px 24px;
}

.conteudo-bot-desc {
    color: #F5FAFF;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 32px;
}

.conteudo-bot-desc a {
    background-color: #0082ff;
    color: #F5FAFF;
    font-size: 24px;
    border-radius: 16px;
    justify-content: center;
    padding: 12px 24px;
}

.section-secundaria {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/Backgroundc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F5FAFF;
}

.comandos {
    display: flex;
    flex-direction: column;
    padding: 85px;
}

.comandos-w {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.lista-cmd {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding: 32px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.comandos-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
    font-size: 24px;
}

@keyframes pulsar1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes pulsar2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}